/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* p {
    color:#333;
} */

/* Route Post Styling */

.btn {
    border: 2px solid black;
}

.faded p {
    opacity:0.5;
}


/* Footer Styling */
.footer {
    background-color: #f1f1f1;
    color: #333;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Social Media Icons */
.footer a i {
    color: #333;
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 60px;
}

.footer a:hover {
    opacity: 0.6;
}

.footer a .fab.fa-facebook-f {
    color: #3b5998;
}

.footer a .fab.fa-twitter {
    color: #55acee;
}

.footer a .fab.fa-google {
    color: #dd4b39;
}

.footer a .fab.fa-instagram {
    color: #ac2bac;
}

.footer a .fab.fa-linkedin-in {
    color: #007bb5;
}

.footer a .fab.fa-github {
    color: #333;
}

.footer .btn:hover {
    color: #000;
}

/* Copyright Section */
.copyright {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer .btn {
        font-size: 20px;
    }
}





/* carousel images*/
.carousel-item {
    height: 620px; /* Adjust this value to your desired height */
   }
   
/* Adjust the size of the images within the carousel item */
.carousel-item img {
object-fit: cover;
height: 100%;
width: 100%;
}

.carousel-caption {
    bottom: 50px;   
}

.translucent-bg {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px;

}

.carousel-inner p {
    color:aliceblue;
}



.about_container {
    margin-top:100px;
}

.about-me {
    color: white;
}

/* Page Top Icon */

.page-top {
    border: 1px solid white;
    margin-bottom: 20px;    
}

.page-top:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.fa-angle-up {
    text-decoration: none;
    color:white;
}

/* Contact me Button */
.contact-me {
    border: 1px solid white;
    color:white;
    background-color: none;
}

.contact-me:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-me a {
    text-decoration: none;
}


/* Like button Styling */
.like-btn {
    color: red;
    border: none;
    outline: none;
    background-color: black;
}

/* Card Styling */
.card {
    background-color: rgba(255, 255, 255, 0.879);
}

/* Main Body Content About Page */
.main-body {
    color: rgba(255, 255, 255, 0.692);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-body a {
    color: rgba(255, 255, 255, 0.692);
    text-decoration: none;
}

.main-body a:hover {
    color: white;
}

.main-body h2 {
    margin-bottom: 40px;
}

.main-body img {
    box-shadow: 0 0rem 4rem rgba(255, 255, 255, 0.8);
    margin: 0px;
    margin-bottom: 50px;
    border: 2px solid black;   
    
}

.col-lg-4 {
    margin-bottom: 100px;
}




hr {
    height: 1px; /* Optional: Adjust the height of the line */
    background-color: rgba(255, 255, 255, 0.397); /* Set the color to white */
    border: none; /* Remove the default border */
}


/* NAV BAR */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above the carousel */
}


/* Change the toggler icon color to white */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Add a white border to the toggler button */
.navbar-toggler {
    border-color: white;
}

/* Change the background color of the dropdown menu */
@media only screen and (max-width: 480px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: -16px;
        margin-right: -16px;
        padding: 20px;
        margin-top: 11px;
    }
}

.navbar a{
    color: rgba(255, 255, 255, 0.692);
}

.navbar a:hover {
    color: white;
}

.logged-in {
    color: white;
}

#navbarNav:active {
    color: white;
}

.nav-item.active > .nav-link {
    color: white;
}

.sticky-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Distance from the top of the viewport */
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}


/* Wainwrights */

.completed-wainwrights {
    margin-bottom: 100px;
    margin-top: 50px;
}


.wainwright-row {
    margin-bottom: 100px;
}

.wainwright-row img {
    border-radius:25%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


/* Pagination */

.pagination {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.pagination a {
    background-color: black;
    border: 1px solid white;
}

.pagination a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* comment box */

/* Gallery Container */
.gallery-container h1,
.gallery-container p {
 color: black;
}

.gallery-container a {
    text-decoration: none;
    color: black;
}

.image-details h1,
.image-details p {
 color: white;
}

/* gallery grid */
.gallery-grid {
    margin-top: 80px;
}

#card-gallery {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.card-container {
    margin-bottom: 100px;
    margin-top: 100px;
}

/* Routes Container */

.routes-container {
    color:white;
}

/* Submit Button */
#submitButton {
    background-color: rgb(67, 116, 62);
    color:white;  
}

#submitButton:hover {
    background-color: rgb(50, 201, 62);
    border: 2px solid black;
}