{% extends 'base.html' %}
{% block nav_routes_class %}active{% endblock %}
{% block content %}

<p>This is the inserted block</p>

{% for route in page_object %}

<div>
    <div class="route-item">
        <img src="{{ route.feature_img.url }}" width="10%" alt="{{ route.title }}">
    </div>
    <a href="{% url 'routes:routes_detail' slug=route.slug %}">
    <h1>{{ route.title }}</h1>
    </a>
    <p>{{ route.snippet }} ... </p>
    <p>{{ route.created_on }}</p>
    <p>Created by: {{ route.author }}</p>
</div>
<hr>

{% endfor %}

<div class="pagination">
    <span class="link-buttons">
        {% if page_object.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_object.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
        </span>

        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">next</a>
            <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
