{% extends 'base.html' %}
{% block nav_routes_class %}active{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
{% if messages %}
<div class="container">
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}

<div>
    <h1>{{ route.title }}</h1>
    <script type="text/javascript" src="{{ route.os_url }}"></script>
    <p>{{ route.content }}</p>
    <p>{{ route.created_on }}</p>
    <p>Created by: {{ route.author }}</p>
    <p>
        Difficulty Rating:{{ route.difficulty_icon }}{{ route.difficulty_rating }}/5
    </p>
</div>

<div class="container">
    <div class="col-1">
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'routes:post-like' route.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            <p>You must be logged in to like this post.</p>
            {% endif %}
            
            <span class="text-secondary">{{ route.number_of_likes }} </span>
        </strong>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            {% with comment_count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
            {{ total_comments }}</strong>
            {% endwith %}
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>You must be logged in to comment on this post.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

