{% extends 'base.html' %}
{% block nav_routes_class %}active{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<script type="text/javascript" src="{{ route.os_url }}"></script>




<div>
    <h1>{{ route.title }}</h1>
    <p>{{ route.content }}</p>
    <p>{{ route.created_on }}</p>
    <p>Created by: {{ route.author }}</p>
    <p>
        Difficulty Rating:{{ route.difficulty_icon }}{{ route.difficulty_rating }}/5
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

<div class="container">
    <div class="col-1">
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'routes:post-like' route.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}
            
            <span class="text-secondary">{{ route.number_of_likes }} </span>
        </strong>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% with comment_count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
            <!-- Our total_comments variable goes before the closing strong tag -->
            {{ total_comments }}</strong>
            {% endwith %}
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post"
                    style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit"
                        class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}