{% extends 'base.html' %}

{% block content %}
<div class="container">
 <hr>
 <div class="row">
    <h1 class="text-center text-light completed-wainwrights">Completed Wainwrights</h1>
    {% for wainwright in wainwrights %}
    <div class="row wainwright-row">
      <div class="text-center col-md-6 text-light wainwright-info">
        <h3>{{ wainwright.name }}</h3>
        <br>
        <p>{{ wainwright.description }}</p>
        <br>
        <p>Completed: {{ wainwright.get_completed_display }}</p>
      </div>
      <div class="col-md-6 wainwright-img">
        <img src="{{ wainwright.wainwright_img.url }}" class="img-fluid" alt="{{ wainwright.name }}">
      </div>
    </div>
    
    {% endfor %}
 </div>
 <hr>
</div>
{% endblock %}