/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* p {
    color:#333;
} */

/* Route Post Styling */

.btn {
    border: 2px solid black;
}

.faded p {
    opacity:0.5;
}

.wainwright-item {
    margin-bottom: 40px;
   }

/* Footer Styling */
.footer {
    background-color: #f1f1f1;
    color: #333;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Social Media Icons */
.footer a p {
    color: #333;
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
}

.footer a:hover {
    opacity: 0.6;
}

.footer a .fab.fa-facebook-f {
    color: #3b5998;
}

.footer a .fab.fa-twitter {
    color: #55acee;
}

.footer a .fab.fa-google {
    color: #dd4b39;
}

.footer a .fab.fa-instagram {
    color: #ac2bac;
}

.footer a .fab.fa-linkedin-in {
    color: #007bb5;
}

.footer a .fab.fa-github {
    color: #333;
}

.footer .btn:hover {
    color: #000;
}

/* Copyright Section */
.copyright {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer .btn {
        font-size: 20px;
    }
}





/* carousel images*/


.carousel-item {
    height: 620px; /* Adjust this value to your desired height */
   }
   
/* Adjust the size of the images within the carousel item */
.carousel-item img {
object-fit: cover;
height: 100%;
width: 100%;
}

.carousel-caption {
    bottom: 50px;   
}

.translucent-bg {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px;

}

.carousel-inner p {
    color:aliceblue;
}

.about_container {
    margin-top:100px;
}


.btn-like {
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #000; /* Set icon color */
    font-size: 1.5em; /* Adjust icon size */
}

.btn-like:hover {
    color: #f00; /* Change icon color on hover */
}